@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Deep, rich aesthetic blue */
  background-color: #09101d; 
  color: #ffffff;
  min-height: 100vh;
}

/* Hide scrollbar for the horizontal scrolling menus */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}